#enter-name-view {
    padding: 20px;
}

#message-list {
    list-style: none;
}

/* Ensure there is sufficient margin in the message list & notices to allow for the floating message bar */
#message-list-container {
    margin-bottom: 44px;
}

#members-typing-indication {
    padding: 10px;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: normal;
    color: #999;
    font-size: 12px;
}

#loading-overlay {
    display: none;
    z-index: 999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 3em;
    text-align: center;
}

#loading-overlay span {
    padding: 25%;
    display: block;
}

#main-app-view {
    display: none;
}

#message-form {
    display: inline-block;
    width: 90%;
    margin: 6px auto 0 auto
}

#members-list-popup {
    display: none;
    z-index: 999;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(240, 240, 240, 0.8);
    margin:0 auto;
}

#members-list {
    width: 35%;
    height: 40%;
    margin: 0 auto;
    overflow: scroll;
    list-style-type: none;
}

#members-list-popup h1 {
    margin-top: 50px;
}

#members-list-popup h1, h5 {
    text-align: center;
}

#members-list li:before {
    content: '@'
}

a.dialog-close{
    float:right;
    margin-top: 30px;
    margin-right: 30px;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0;
}

.dialog-close:before {
    content: "×";
}

body, div {
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: normal;
}
body {
    margin: 0;
    background-color: white;
}
body > div {
    background-color: white;
}

/**
 * Name-bar
 */
.name-input {
    font-size: 16px;
    padding: 6px 10px 6px 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    border-bottom: 1px solid #CCCCCC;
    z-index: 10;
}

.name-input.validation-error {
    border-bottom: 1px solid red;
}

/**
 * Message-bar that floats at the bottom for typing new messages
 */
.type-message-bar {
    border-top: 1px solid #CCCCCC;
    background-color: #EEEEEE;
    overflow: scroll;
    position:fixed;
    bottom: 0;
    width: 100%;
    padding-bottom: 5px;
}

.message-input {
    border-width: 1px;
    border-radius: 7px;
    border-color: #CCCCCC;
    font-size: 15px;
    padding: 6px 5px 6px 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 90%;
}

/**
 * Message-presence
 */
.message-presence {
    padding: 5px 10px 15px 10px;
    overflow: hidden;
    text-align: center;
    z-index: 10;
    /*background: white;*/
    /* disable text selection */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.message-presence .text{
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 5px 10px;
    background: rgb(187, 191, 114);
    color: white;
    display: inline-block;
    font-size: 12px;
}

/**
 * Message-bubbles
 */
.message-bubble {
    padding: 0 10px 10px 10px;
    /* disable text selection */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    background: white;
}
.message-bubble.sent {
    padding: 0 10px 10px 30px;
}
.message-bubble.received {
    padding: 0 30px 10px 10px;
}
.message-bubble .back {
    min-width: 30%;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #DDDDDD;
    padding: 8px 8px 8px 8px;
    float: left;
    max-width: 90%;
}
.message-bubble.sent .back {
    background-color: rgb(114, 173, 191);
    float: right;
}
.message-bubble .author {
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
}
.message-bubble .time {
    float: right;
    font-size: 12px;
    line-height: 18px;
    margin-left: 10px;
    color: #888888;
}
.message-bubble.sent .time {
    color: #444444;
}
.message-bubble .message {
    margin-top: 3px;
    font-size: 16px;
    word-wrap: break-word;
    -word-break: break-all;
}
.message-bubble .back:after {
    content: "";
    position: relative;
    bottom: 16px;
    border-style: solid;
    border-color: transparent #DDDDDD;
    display: block;
    width: 0;
}
.message-bubble.sent .back:after {
    border-width: 5px 0 5px 10px;
    float: right;
    right: -15px;
    border-color: transparent rgb(114, 173, 191);
}
.message-bubble.received .back:after {
    border-width: 5px 10px 5px 0;
    left: -15px;
}

#flash-notice {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(255, 175, 17, 0.85);
    border-bottom: 1px solid #8c4100;
    padding: 5px 10px 7px 10px;
    font-size: 14px;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-align: center;
    font-weight: bold;
    z-index: 800;
}

/* When the flash notice first shows, make sure it is not over the first message */
#flash-notice-page-shifter {
    display: none;
    height: 35px;
}

a#members-lozenge {
    text-decoration: none;
    margin: 0px 10px;
    display: block;
    float: left;
}

a#members-lozenge.disabled {
    opacity: 0.5;
}

input.message-input:disabled {
    background-color: #E9E9E9;
}

input[type=submit] {
    cursor: pointer;
    background: #c7c7c7;
    background-image: -webkit-linear-gradient(top, #c7c7c7, #8c8c8c);
    background-image: -moz-linear-gradient(top, #c7c7c7, #8c8c8c);
    background-image: -ms-linear-gradient(top, #c7c7c7, #8c8c8c);
    background-image: -o-linear-gradient(top, #c7c7c7, #8c8c8c);
    background-image: linear-gradient(to bottom, #c7c7c7, #8c8c8c);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 14px;
    padding: 6px 10px 6px 10px;
    text-decoration: none;
    border: none;
}

input[type=submit]:hover {
    background: #adadad;
    background-image: -webkit-linear-gradient(top, #adadad, #757575);
    background-image: -moz-linear-gradient(top, #adadad, #757575);
    background-image: -ms-linear-gradient(top, #adadad, #757575);
    background-image: -o-linear-gradient(top, #adadad, #757575);
    background-image: linear-gradient(to bottom, #adadad, #757575);
    text-decoration: none;
    border: none;
}
